@model List<TaskModel>

@{
    ViewData["Title"] = "Мои задачи";
}

<div class="main-index">
    <div class="panel-month">
        <nav class="nav-panel-month">
            <ul class="nav-panel-list-month">
            
                @foreach (var month in ViewBag.Months)
                {
                    <li class="list-item-month"> 
                        <button class="list-item-button-month">@month.ToString("MMMM")</button>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>