* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-panel-list-month {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  list-style: none;
}

.list-item-month {
  text-align: center;
  
}

.list-item-button-month {
  background: none;
  border: none;
  width: 100%;
  background-color: rgb(119, 38, 194);
  color: white;
  padding: 10px 0 10px 0;
  font-size: 17px;
  transition: linear .2s;
  cursor: pointer;
  border-left: solid 1.2px;
  border-color: gray;
}

.list-item-button-month:hover {
  background-color: rgb(102, 32, 167);
}

.index-body {
  display: flex;
  height: calc(100vh - 37px);
}

.left-panel-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 100%;
  border-right: solid;
}

.right-psnel-body {
  width: 70%;
}

.left-panel-days {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap; 
  width: 290px;
  gap: 15px;
  padding: 100px 20px 100px 30px;
}

.day-number {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: linear 0.2s;
  cursor: pointer;
}

.day-number:hover {
  background-color: rgba(130, 128, 128, 0.149);
}